name: Deploy TrangCaNhan WebFE via FTP
on:
  push:
    branches:
      - main
jobs:
  web-deploy:
    name: Deploy to Webhost
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v4
    
    - name: FTP Deploy to Somee Host
      uses: SamKirkland/FTP-Deploy-Action@v4.3.0
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./ 
        server-dir: /www.Nghia2k4.somee.com/PhamHuuNghia/